body{
    margin: 0;
    padding: 0;
    font-family: "VT323", serif;
    
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    

}
.header{
    height: 65px;
    background-color: #000;
    color: #33FF00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
 
}

.header .nombre {
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: #33FF00; 
    
}

header nav a {
    text-decoration: none; 
    color: #33FF00; 
    font-size: 18px; 
    margin-right: 15px;
}

header nav a:hover {
    text-decoration: underline; 
    color: #ddd; 
}

/**main...**/
.main{
    
    text-align: center;
    background-color: #000;
    color: #33FF00;
    
}

.main .inicio{
    height: 700px;
    border-bottom: 3px solid #fff;
}
.main .inicio .foto-personal img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.2);
    margin: 80px auto 10px auto;


}

.main .inicio .caja-presentacion {
    font-size: 20px;
    width: 80%;
    margin: 20px auto 60px auto;


}

.main .inicio .caja-presentacion h1{
    font-size: 30px;

}

/**sobre mi...**/

.main .sobre-mi {
    height: 700px;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    width: 100%;
    margin: 20px auto 60px auto;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 

}

.main .sobre-mi  h2{
    font-size: 30px;
}


/* Conocimientos.... */

.conocimiento {
    height: 800px;
    border-bottom: 3px solid #fff;
    margin: 20px auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tech-list {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
}

.tech-list img {
    width: 110px; 
    height: 110px; 
    object-fit: contain; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
}
.cursos ul {
    list-style: none; 
    padding: 0;
}

.cursos li {
    margin: 10px 0; 
    font-size: 20px; 
    color: #7df85f;
}
.conocimiento h2{
    font-size: 30px;
}

/* ---Proyectos--- */
.proyectos {
    height: 800px;
    border-bottom: 3px solid #fff;
    /* margin: 20px auto 60px auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.proyectos h2{
    font-size: 30px;
}

.contenedor-trabajos{
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px; 
}

.trabajo-card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff;
    
}

.trabajo-card a{
    text-decoration: none; 
    color: #fff; 
    font-size: 18px; 
    
}

.trabajo-card a:hover {
    text-decoration: underline; 
    color: #33FF00; 
    
}

/* ---------footer-------- */

.contacto{
    height: 500px;
    border-bottom: 3px solid #fff;
    margin: 0;
    padding: 40px 0;
    background-color: #000;    
    
}

.contacto h2{
    color: #33FF00;
    font-size: 30px;
    text-align: center;
}

.contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    border: 2px solid #33FF00;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #33FF00;
    background-color: #000;
}

.formulario input[type="text"],
.formulario input[type="email"]{
    width: 43%;
    margin-bottom: 15px;
}

.formulario textarea{
    width: 93%;
    height: 100px;
    min-width: 93%;
    max-width: 93%;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: 15px;
}

.formulario .boton{
    margin: auto;
    background-color: #000;
    color: #33FF00;
    border: 2px solid #33FF00;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

.formulario .boton:hover{
    color: #fff;
    border: 2px solid #fff;
}

.redes-sociales{
    background-color: #3d3d3d;
    padding: 20px 0;
    text-align: center;
    margin-top: 0;
    display: flex; /* Flexbox para alinear los íconos */
    justify-content: center; /* Centrar horizontalmente */
    
}

.redes-sociales a{
    display: inline-block; /* Bloques en línea */
    width: 50px; /* Tamaño del ícono */
    height: 50px;
}

.redes-sociales a img {
    width: 100%; /* Ajustar al contenedor */
    height: 100%; /* Ajustar al contenedor */
    object-fit: contain; /* Ajuste de imagen */
    border-radius: 50%;
    border: 2px solid #3d3d3d;
}
.redes-sociales a:hover {
    transform: scale(1.1);
      
    
}

html {
    scroll-behavior: smooth;
}








