body{
    margin: 0;
    padding: 0;
    font-family: "VT323", serif;
    
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    

}
.header{
    height: 65px;
    background-color: #000;
    color: #33FF00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
 
}

.header .nombre {
    font-size: 25px;
    margin: 0;

}

header nav a {
    text-decoration: none; 
    color: #33FF00; 
    font-size: 18px; 
    margin-right: 15px;
}

header nav a:hover {
    text-decoration: underline; 
    color: #ddd; 
}

/**main...**/
.main{
    
    text-align: center;
    background-color: #000;
    color: #33FF00;
    
}

.main .inicio{
    height: 700px;
    border-bottom: 3px solid #fff;
}
.main .inicio .foto-personal img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.2);
    margin: 80px auto 10px auto;


}

.main .inicio .caja-presentacion {
    font-size: 20px;
    width: 80%;
    margin: 20px auto 60px auto;


}

.main .inicio .caja-presentacion h1{
    font-size: 30px;

}

/**sobre mi...**/

.main .sobre-mi {
    height: 700px;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    width: 100%;
    margin: 20px auto 60px auto;
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el texto dentro de los elementos */

}

.main .sobre-mi  h2{
    font-size: 30px;
}


/* Conocimientos.... */

.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
